body {
  margin: 0;
  padding: 0 1em;
}

h1 {
  margin: 0;
}

article {
  margin: 1em 0;
}

table.calendar {
  border-collapse: collapse;
  border: 1px solid gray;
  table-layout: fixed;
  width: 100%;
}

table.calendar th, table.calendar td {
  padding: 0.5em;
  border: 1px solid gray
}

table.calendar td {
  padding: 0.5em;
  height: 6em;
  vertical-align: top
}

table.calendar td p {
  margin: 0;
}

form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form ul li label {
  display: inline-block;
  width: 5em;
}

form ul li input[type="text"] {
  width: 20em;
}
