<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Broadleaf Advent Calendar {{ .Year }}</title>
  </head>
  <body>
    <h1>Broadleaf Advent Calendar {{ .Year }}</h1>
  </body>
</html>

